@model List<Dish>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Chefs</title>
    </head>
    <body>
        <h1><a asp-controller="Chef" asp-action="Chefs">Chefs</a> | Dishes</h1>
        <h3><a asp-controller="Chef" asp-action="NewDish">Add a Dish</a></h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Chef</th>
                    <th scope="col">Tastiness</th>
                    <th scope="col">Calories</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Dish d in Model)
                {
                    <tr>
                        <td>@d.Name</td>
                        <td>@d.Chef.FullName()</td>
                        <td>@d.Tastiness</td>
                        <td>@d.Calories</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>