@model Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form asp-controller="Post" asp-action="Create" method="POST">
        <div>
            <label asp-for="Topic"></label>
            <span asp-validation-for="Topic"></span>
            <input asp-for="Topic">
        </div>
        <div>
            <label asp-for="Body"></label>
            <span asp-validation-for="Body"></span>
            <input asp-for="Body">
        </div>
        <div>
            <label asp-for="ImgUrl"></label>
            <input asp-for="ImgUrl">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>