@model Customer

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customers</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WeddingPlanner.styles.css" asp-append-version="true" />
    </head>
    <body>
        <div style="margin-left: 70px; margin-top: 50px;">
            <h1><a asp-controller="ECommerce" asp-action="Dashboard">Dashboard</a> | <a asp-controller="ECommerce" asp-action="Products">Products</a> | <a asp-controller="ECommerce" asp-action="Orders">Orders</a> | Customers | <a asp-controller="ECommerce" asp-action="Settings">Settings</a></h1>
        </div>
        
        <h4>Add a new customer</h4>
        <form asp-controller="ECommerce" asp-action="AddCustomer" method="POST">
            <div>
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName">
            </div>
            <div>
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName">
            </div>
            <button type="submit">Add</button>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer c in ViewBag.Customers)
                {
                    <tr>
                        <td>@c.FullName()</td>
                        <td>@c.CreatedAt.ToString("MMMM d, yyyy")</td>
                        <td><a asp-controller="ECommerce" asp-action="DeleteOne" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>