@model Customer

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="margin-left: 70px; margin-top: 50px;">
            <h1><a asp-controller="ECommerce" asp-action="Dashboard">Dashboard</a> | <a asp-controller="ECommerce" asp-action="Products">Products</a> | <a asp-controller="ECommerce" asp-action="Orders">Orders</a> | Customers | <a asp-controller="ECommerce" asp-action="Settings">Settings</a></h1>
        </div>
        
        <h4>Add a new customer</h4>
        <form asp-controller="ECommerce" asp-action="AddCustomer" method="POST">
            <div>
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName">
            </div>
            <div>
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName">
            </div>
            <button type="submit">Add</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer c in ViewBag.Customers)
                {
                    <tr>
                        <td>@c.FullName()</td>
                        <td>@c.CreatedAt</td>
                        <td><a asp-controller="ECommerce" asp-action="DeleteOne">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>