<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="margin-left: 70px; margin-top: 50px;">
            <h1><a asp-controller="ECommerce" asp-action="Dashboard">Dashboard</a> | <a asp-controller="ECommerce" asp-action="Products">Products</a> | <a asp-controller="ECommerce" asp-action="Orders">Orders</a> | <a asp-controller="ECommerce" asp-action="Customers">Customers</a> | Settings</h1>
        </div>

        Blank Page but successful render
    </body>
</html>