@model LoginUser


<form asp-controller="User" asp-action="Login" method="Post">
    <h3>Login</h3>
    <div>
        <label asp-for="LoginEmail"></label>
        <span asp-validation-for="LoginEmail"></span>
        <input asp-for="LoginEmail">
    </div>
    <div>
        <label asp-for="LoginPassword"></label>
        <span asp-validation-for="LoginPassword"></span>
        <input asp-for="LoginPassword">
    </div>
    <button type="submit">Login</button>
</form>