<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojo Survey</title>
    </head>
    <body>
        <form action="/result" method="post">
            <div>
                <label for="name">Your Name:</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="location">Dojo Location:</label>
                <select name="location" >
                    <option value="Seattle">Seattle</option>
                    <option value="Bellevue">Bellevue</option>
                    <option value="San Diego">San Diego</option>
                    <option value="New York">New York</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div>
                <label for="faveLang">Dojo Location:</label>
                <select name="faveLang">
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="MERN">MERN</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div>
                <label for="comment">Comment (optional):</label>
                <textarea name="comment" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>