@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Products and Categories</h1>
    <p><a asp-controller="Product" asp-action="Products">Start</a></p>
</div>
