@model User

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form asp-controller="User" asp-action="NewUser" method="POST">
            <div>
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName">
            </div>

            <div>
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName">
            </div>

            <div>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
                <input asp-for="Email">
            </div>

            <div>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input asp-for="Password">
            </div>

            <div>
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword"></span>
                <input asp-for="ConfirmPassword">
            </div>
            <button type="submit">Register</button>
        </form>
        <a asp-controller="User" asp-action="Login">Already Registered?</a>
    </body>
</html>