@model Dojodachi
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojodachi</title>
    </head>
    <body style="margin: 0px auto; padding: 0px;">
        <div style="display: flex; align-items: center; justify-content: spece-evenly; width: 100%;">
            <h1>Fullness: @Model.Fullness</h1><h1>Happiness: @Model.Happiness</h1><h1>Meals: @Model.Meal</h1><h1>Energy: @Model.Energy</h1>
        </div>
        <div style="width: 80%; height: 800px; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
            <div style="height: 350px; width: 350px; background-color: gray;"></div>
        </div>
        <div>
            <form action="">
                
            </form>
        </div>
    </body>
</html>