<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
    </head>
    <body style="text-align : center">
        <h3><a href="/" >Home</a> | Projects | <a href="/contact">Contact</a></h3>

        <div>
            <h1>Here are some projects of mine!</h1>
            
            @{
                string[] projectList = new string[]{"MyBank", "Share.", "MyCRM"};

                foreach (string project in projectList)
                {
                    <div style="display : flex;">
                        <div style="height: 100px; width: 100px; background-color: gray; margin: 20px"></div>
                        <div>
                            <h3>@project</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam itaque fugiat nostrum tempore, doloribus, hic voluptate quia iste fuga mollitia aliquam assumenda. Aliquid recusandae facere, vitae quam labore magnam?</p>
                        </div>
                    </div>
                }
            }
        </div>
    </body>
</html>